﻿<div id="div-confirmacion" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>¿Desea guardar este registro?</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btnsave" class="btn btn-primary ">Guardar</button>
        <button id="btncancel" class="btn btn-danger ">Cancelar</button>
    </div>
</div>

<div id="div-alert" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>Debe llenar todos los datos</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btnclose" class="btn btn-danger ">Cerrar</button>
    </div>
</div>

<div id="div-confirmacion-quitar" style="display:none; text-align:center; margin:0 auto;">
    <input type="hidden" id="lbldiv"/>
    <div>
        <strong>¿Desea Quitar este campo?</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btnquitar" class="btn btn-primary ">Guardar</button>
        <button id="btncancelquitar" class="btn btn-danger ">Cancelar</button>
    </div>
</div>

<div id="div-mensaje" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>Espere mientras carga los Archivos</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btnclosemsj" class="btn btn-danger ">Cerrar</button>
    </div>
</div>