﻿@{
    ViewData["Title"] = "Inicio";
}

<script src="~/js/Index.js"></script>
<div class="row m-3">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Nombres :</span>
            </div>
            <input type="text" class="form-control" id="txtnom">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Apellidos :</span>
            </div>
            <input type="text" class="form-control" id="txtapel">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">pais :</span>
            </div>
            <select id="cmbpais" class="form-control"></select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Celular :</span>
            </div>
            <input type="number" class="form-control" id="txtmovil">
        </div>
    </div>

    <div class="col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Empresa :</span>
            </div>
            <select class="form-control" id="cmbempresa"></select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Afiliado :</span>
            </div>
            <input type="text" class="form-control" id="txtafiliado">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Email :</span>
            </div>
            <input type="email" class="form-control" id="txtmail">
        </div>
    </div>

</div>
<div class="row m-3">
    <div class="col-md-6">
        <button id="btnconfirm" class="btn btn-outline-primary btn-block">Guardar</button>
    </div>

    <div class="col-md-6">
        <button id="btnclean" class="btn btn-outline-danger btn-block">Limpiar</button>
    </div>
</div>

@Html.Partial("~/Views/Shared/ViewConfirmacion.cshtml");